#   Components can be assembled on any "host" build machine defined in
#   https://github.com/diskuv/dkml-install-api/blob/5cfd7b57c79d990c76a9bdc8f8f0fa9f6fd5346f/runner/src/host_abi.ml
#   into a installer that will run on any end-user machine defined in
#   https://github.com/diskuv/dkml-install-api/blob/5cfd7b57c79d990c76a9bdc8f8f0fa9f6fd5346f/runner/src/ocaml_abi.ml
available: os = "win32" | os = "linux" | os = "macos"
